In [1]:
import efel

from bluepy.v2 import Simulation

from bluepy.v2 import Circuit
from bluepy.v2 import Cell
from bluepy.v2.enums import Synapse

from os import path

import pandas as pd

import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns

import pickle

In [19]:
#/gpfs/bbp.cscs.ch/project/proj34/metabolismndam/analysis/ina_atp_firing.py

#inasum with thal
thal = pd.read_csv('/gpfs/bbp.cscs.ch/project/proj34/sh_ngvm/column/met_gen_inasum/atpFromINaVsMeanFreq_10percentCells.tsv',sep='\t',index_col=0)

#inasum no stim
nostim = pd.read_csv('/gpfs/bbp.cscs.ch/project/proj34/sh_ngvm/column/met_gen_inasum_nostim/atpFromINaVsMeanFreq_10percentCells.tsv',sep='\t',index_col=0)

In [ ]:
diff = {}

for c in ['cells_volumes_um3', 'cells_areas', 'atp_1', 'inaSum_1', 'atp_2',
       'inaSum_2', 'atp_3', 'inaSum_3', 'mean_frequency', 
       'atp_meanconc_1', 'atp_meanconc_2', 'atp_meanconc_3']:
    diff[c] = thal.loc[thal['gid']==161210,c].astype(float) - nostim.loc[nostim['gid']==161210,c].astype(float)

In [27]:
diff_df = pd.DataFrame(diff)

diff_df

,cells_volumes_um3,cells_areas,atp_1,inaSum_1,atp_2,inaSum_2,atp_3,inaSum_3,mean_frequency,atp_meanconc_1,atp_meanconc_2,atp_meanconc_3
819,0.0,0.0,0.0,0.0,-8.600856e+12,-12.349217,8.771059e+12,12.593596,0.064653,0.0,-0.000385,0.001573

In [28]:
gid_test = 127631

diff = {}

for c in ['cells_volumes_um3', 'cells_areas', 'atp_1', 'inaSum_1', 'atp_2',
       'inaSum_2', 'atp_3', 'inaSum_3', 'mean_frequency', 
       'atp_meanconc_1', 'atp_meanconc_2', 'atp_meanconc_3']:
    diff[c] = thal.loc[thal['gid']==gid_test,c].astype(float) - nostim.loc[nostim['gid']==gid_test,c].astype(float)
    
diff_df = pd.DataFrame(diff)

diff_df

Empty DataFrame
Columns: [cells_volumes_um3, cells_areas, atp_1, inaSum_1, atp_2, inaSum_2, atp_3, inaSum_3, mean_frequency, atp_meanconc_1, atp_meanconc_2, atp_meanconc_3]
Index: []

In [ ]:
thal = thal.add_prefix('thal_')
thal = thal.rename(columns={"thal_gid":"gid"})


nostim = nostim.add_prefix('nostim_')
nostim = nostim.rename(columns={"nostim_gid":"gid"})


df = pd.merge(thal,nostim,left_on='gid',right_on='gid',how='inner')

In [5]:
df.head()

,gid,thal_cells_volumes_um3,thal_cells_areas,thal_atp_1,thal_inaSum_1,thal_atp_2,thal_inaSum_2,thal_atp_3,thal_inaSum_3,thal_mean_frequency,...,nostim_y,nostim_z,nostim_synapse_class,nostim_layer,nostim_etype,nostim_mtype,nostim_etype_mtype,nostim_atp_meanconc_1,nostim_atp_meanconc_2,nostim_atp_meanconc_3
0,117683,3771.033248,11556.799461,-6.298591e+13,-262.053777,-8.563263e+13,-356.275767,-6.955077e+13,-289.366954,16.828218,...,1784.176664,707.349048,EXC,2,cADpyr,L2_TPC:B,cADpyr_L2_TPC:B,0.286267,0.070663,0.049316
1,115364,4140.931909,11043.611968,-2.798390e+13,-121.837704,-4.083775e+13,-177.801418,-3.549754e+13,-154.550969,7.905682,...,1814.744163,517.438366,EXC,2,cADpyr,L2_IPC,cADpyr_L2_IPC,0.567696,0.162657,0.096792
2,125428,2180.445270,7086.309183,-4.354428e+13,-295.457892,-4.174032e+13,-283.217606,-3.635181e+13,-246.655298,15.537391,...,1776.274947,683.863925,EXC,2,cADpyr,L2_TPC:B,cADpyr_L2_TPC:B,0.260703,0.064308,0.048081
3,119457,2213.425367,6995.992308,-3.016982e+13,-207.351864,-3.244825e+13,-223.011147,-3.017331e+13,-207.375868,11.784687,...,1849.569922,697.390949,EXC,2,cADpyr,L2_TPC:B,cADpyr_L2_TPC:B,0.460004,0.123602,0.072068
4,120662,4034.783844,12669.900588,-7.378397e+13,-280.009890,-9.171293e+13,-348.050239,-7.633202e+13,-289.679715,16.803899,...,1813.112032,471.310522,EXC,2,cADpyr,L2_TPC:B,cADpyr_L2_TPC:B,0.397966,0.092916,0.065881

In [6]:
df.loc[df['thal_cells_volumes_um3']!=df['nostim_cells_volumes_um3'],:]

Empty DataFrame
Columns: [gid, thal_cells_volumes_um3, thal_cells_areas, thal_atp_1, thal_inaSum_1, thal_atp_2, thal_inaSum_2, thal_atp_3, thal_inaSum_3, thal_mean_frequency, thal_x, thal_y, thal_z, thal_synapse_class, thal_layer, thal_etype, thal_mtype, thal_etype_mtype, thal_atp_meanconc_1, thal_atp_meanconc_2, thal_atp_meanconc_3, nostim_cells_volumes_um3, nostim_cells_areas, nostim_atp_1, nostim_inaSum_1, nostim_atp_2, nostim_inaSum_2, nostim_atp_3, nostim_inaSum_3, nostim_mean_frequency, nostim_x, nostim_y, nostim_z, nostim_synapse_class, nostim_layer, nostim_etype, nostim_mtype, nostim_etype_mtype, nostim_atp_meanconc_1, nostim_atp_meanconc_2, nostim_atp_meanconc_3]
Index: []

[0 rows x 41 columns]

In [13]:
df.loc[df['gid']==161210,:]

,gid,thal_cells_volumes_um3,thal_cells_areas,thal_atp_1,thal_inaSum_1,thal_atp_2,thal_inaSum_2,thal_atp_3,thal_inaSum_3,thal_mean_frequency,...,nostim_y,nostim_z,nostim_synapse_class,nostim_layer,nostim_etype,nostim_mtype,nostim_etype_mtype,nostim_atp_meanconc_1,nostim_atp_meanconc_2,nostim_atp_meanconc_3
818,161210,11713.07048,33487.816081,-1.646604e+14,-236.421469,-1.707530e+14,-245.169276,-1.718866e+14,-246.796951,19.761522,...,1144.022761,499.611806,EXC,5,cADpyr,L5_TPC:A,cADpyr_L5_TPC:A,0.914863,0.789095,0.645929

In [16]:
thal.columns

Index(['gid', 'thal_cells_volumes_um3', 'thal_cells_areas', 'thal_atp_1',
       'thal_inaSum_1', 'thal_atp_2', 'thal_inaSum_2', 'thal_atp_3',
       'thal_inaSum_3', 'thal_mean_frequency', 'thal_x', 'thal_y', 'thal_z',
       'thal_synapse_class', 'thal_layer', 'thal_etype', 'thal_mtype',
       'thal_etype_mtype', 'thal_atp_meanconc_1', 'thal_atp_meanconc_2',
       'thal_atp_meanconc_3'],
      dtype='object')

In [14]:
thal.loc[thal['gid']==161210,:]

,gid,thal_cells_volumes_um3,thal_cells_areas,thal_atp_1,thal_inaSum_1,thal_atp_2,thal_inaSum_2,thal_atp_3,thal_inaSum_3,thal_mean_frequency,...,thal_y,thal_z,thal_synapse_class,thal_layer,thal_etype,thal_mtype,thal_etype_mtype,thal_atp_meanconc_1,thal_atp_meanconc_2,thal_atp_meanconc_3
819,161210,11713.07048,33487.816081,-1.646604e+14,-236.421469,-1.707530e+14,-245.169276,-1.718866e+14,-246.796951,19.761522,...,1144.022761,499.611806,EXC,5,cADpyr,L5_TPC:A,cADpyr_L5_TPC:A,0.914863,0.78871,0.647502

In [15]:
nostim.loc[nostim['gid']==161210,:]

,gid,nostim_cells_volumes_um3,nostim_cells_areas,nostim_atp_1,nostim_inaSum_1,nostim_atp_2,nostim_inaSum_2,nostim_atp_3,nostim_inaSum_3,nostim_mean_frequency,...,nostim_y,nostim_z,nostim_synapse_class,nostim_layer,nostim_etype,nostim_mtype,nostim_etype_mtype,nostim_atp_meanconc_1,nostim_atp_meanconc_2,nostim_atp_meanconc_3
819,161210,11713.07048,33487.816081,-1.646604e+14,-236.421469,-1.621521e+14,-232.820059,-1.806577e+14,-259.390547,19.696869,...,1144.022761,499.611806,EXC,5,cADpyr,L5_TPC:A,cADpyr_L5_TPC:A,0.914863,0.789095,0.645929

In [23]:
thal.columns

Index(['gid', 'cells_volumes_um3', 'cells_areas', 'atp_1', 'inaSum_1', 'atp_2',
       'inaSum_2', 'atp_3', 'inaSum_3', 'mean_frequency', 'x', 'y', 'z',
       'synapse_class', 'layer', 'etype', 'mtype', 'etype_mtype',
       'atp_meanconc_1', 'atp_meanconc_2', 'atp_meanconc_3'],
      dtype='object')